<style>
  .image-gallery {
    margin-top: 10px;
    overflow: auto;
    margin-left: -1%;
  }
  .image-gallery a {
    float: left;
    display: block;
    margin: 0 0 1% 1%;
    width: 19%;
  }
  .image-gallery a img {
    width: 100%;
  }
</style>

{% capture imageDir %}assets/posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.slug }}{% endcapture %}

<div class="image-gallery">
{%- for item in page.gallery -%}
  {% capture imageUrl %}{{ imageDir }}/{{ item.image }}{% endcapture %}
  <a href="{{ site.baseurl }}/{{ imageUrl }}">
    <img src="//images.weserv.nl/?url={{ site.url }}/{{ imageUrl }}&w=200&h=200&output=jpg&q=50&t=square" />
  </a>
{%- endfor -%}
